<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css"
        type="text/css" media="screen" />
    <link type="text/css" rel="stylesheet" href="/syntax.css" />
    <link type="text/css" rel="stylesheet" href="http://www.tigraine.at/js/SyntaxHighlighter.css" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://feeds.feedburner.com/Tigraine?format=xml" />
    <link rel="alternate" type="text/xml" title="RSS .92" href="http://feeds.feedburner.com/Tigraine?format=xml" />
    <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://feeds.feedburner.com/Tigraine?format=xml" />
    <link rel="pingback" href="http://www.tigraine.at/xmlrpc.php" />
    <link rel="openid.server" href="http://www.myopenid.com/server" />
    <link rel="openid.delegate" href="http://tigraine.myopenid.com/" />
    <meta name="msapplication-task" content="name=Daniel on Twitter;action-uri=http://twitter.com/Tigraine" />
    <meta name="msapplication-task" content="name=Daniel on Facebook;action-uri=http://www.facebook.com/Tigraine" />
    <meta name="msapplication-starturl" content="./" />
    <meta name="application-name" content="Daniel Hoelbling's	Blog" />
    <meta name="msapplication-tooltip" content="Daniel Hoelbling's Blog" />
    <link rel='archives' title='September 2010' href='http://www.tigraine.at/2010/09/' />
    <link rel='archives' title='August 2010' href='http://www.tigraine.at/2010/08/' />
    <link rel='archives' title='June 2010' href='http://www.tigraine.at/2010/06/' />
    <link rel='archives' title='May 2010' href='http://www.tigraine.at/2010/05/' />
    <link rel='archives' title='April 2010' href='http://www.tigraine.at/2010/04/' />
    <link rel='archives' title='March 2010' href='http://www.tigraine.at/2010/03/' />
    <link rel='archives' title='February 2010' href='http://www.tigraine.at/2010/02/' />
    <link rel='archives' title='January 2010' href='http://www.tigraine.at/2010/01/' />
    <link rel='archives' title='December 2009' href='http://www.tigraine.at/2009/12/' />
    <link rel='archives' title='November 2009' href='http://www.tigraine.at/2009/11/' />
    <link rel='archives' title='October 2009' href='http://www.tigraine.at/2009/10/' />
    <link rel='archives' title='September 2009' href='http://www.tigraine.at/2009/09/' />
    <link rel='archives' title='August 2009' href='http://www.tigraine.at/2009/08/' />
    <link rel='archives' title='July 2009' href='http://www.tigraine.at/2009/07/' />
    <link rel='archives' title='June 2009' href='http://www.tigraine.at/2009/06/' />
    <link rel='archives' title='May 2009' href='http://www.tigraine.at/2009/05/' />
    <link rel='archives' title='April 2009' href='http://www.tigraine.at/2009/04/' />
    <link rel='archives' title='March 2009' href='http://www.tigraine.at/2009/03/' />
    <link rel='archives' title='February 2009' href='http://www.tigraine.at/2009/02/' />
    <link rel='archives' title='January 2009' href='http://www.tigraine.at/2009/01/' />
    <link rel='archives' title='December 2008' href='http://www.tigraine.at/2008/12/' />
    <link rel='archives' title='November 2008' href='http://www.tigraine.at/2008/11/' />
    <link rel='archives' title='October 2008' href='http://www.tigraine.at/2008/10/' />
    <link rel='archives' title='September 2008' href='http://www.tigraine.at/2008/09/' />
    <link rel='archives' title='August 2008' href='http://www.tigraine.at/2008/08/' />
    <link rel='archives' title='July 2008' href='http://www.tigraine.at/2008/07/' />
    <link rel='archives' title='June 2008' href='http://www.tigraine.at/2008/06/' />
    <link rel='archives' title='May 2008' href='http://www.tigraine.at/2008/05/' />
    <link rel='archives' title='April 2008' href='http://www.tigraine.at/2008/04/' />
    <link rel='archives' title='March 2008' href='http://www.tigraine.at/2008/03/' />
    <link rel='archives' title='February 2008' href='http://www.tigraine.at/2008/02/' />
    <link rel='archives' title='January 2008' href='http://www.tigraine.at/2008/01/' />
    <link rel='archives' title='December 2007' href='http://www.tigraine.at/2007/12/' />
    <link rel='archives' title='November 2007' href='http://www.tigraine.at/2007/11/' />
    <link rel='archives' title='October 2007' href='http://www.tigraine.at/2007/10/' />
    <link rel='archives' title='September 2007' href='http://www.tigraine.at/2007/09/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.tigraine.at/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.tigraine.at/wp-includes/wlwmanifest.xml" />
    <link rel='index' title='Tigraine' href='http://www.tigraine.at' />
    <script type="text/javascript">
        window.google_analytics_uacct = "UA-3272216-1";
    </script>
</head>
<body>
    <div id="container">
        <div id="blog_name">
            <a href="http://www.tigraine.at">Tigraine</a></div>
        <div id="blog_slogan">
            Daniel Hoelbling talks about .NET</div>
        <div id="menu_view">
            <ul>
                <li><a href="http://www.tigraine.at">Home</a></li>
                <li class="page_item page-item-659"><a href="http://www.tigraine.at/articles/" title="Articles">
                    Articles</a></li>
                <li class="page_item page-item-296"><a href="http://www.tigraine.at/about-me/" title="About me">
                    About me</a></li>
            </ul>
        </div>
        <h1 id="header">
        </h1>
        <div id="wrapper">
            <div id="content">
                {{content}}
                <br />
                <br />
            </div>
        </div>
        <div id="sidebar">
            <br />
            <ul id="sidebar_main_menu">
                <li id="text-3" class="widget widget_text">
                    <div class="textwidget">
                        <p>
                            <a href="http://feeds2.feedburner.com/Tigraine" rel="alternate" type="application/rss+xml">
                                <img src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png" alt="" style="vertical-align: middle;
                                    border: 0" /></a>&nbsp;<a href="http://feeds2.feedburner.com/Tigraine" rel="alternate"
                                        type="application/rss+xml">Subscribe in a reader</a></p>
                    </div>
                </li>
                <li id="categories-1" class="widget widget_categories">
                    <h2 class="widgettitle">
                        Categories</h2>
                    <ul>
                        <li class="cat-item cat-item-20"><a href="http://www.tigraine.at/category/programmierung/"
                            title="View all posts filed under Coding">Coding</a>
                            <ul class='children'>
                                <li class="cat-item cat-item-21"><a href="http://www.tigraine.at/category/programmierung/net/"
                                    title="View all posts filed under .NET">.NET</a>
                                    <ul class='children'>
                                        <li class="cat-item cat-item-178"><a href="http://www.tigraine.at/category/programmierung/net/castle/"
                                            title="View all posts filed under Castle">Castle</a> </li>
                                        <li class="cat-item cat-item-146"><a href="http://www.tigraine.at/category/programmierung/net/nhibernate/"
                                            title="View all posts filed under NHibernate">NHibernate</a> </li>
                                        <li class="cat-item cat-item-182"><a href="http://www.tigraine.at/category/programmierung/net/wpf/"
                                            title="View all posts filed under WPF">WPF</a> </li>
                                    </ul>
                                </li>
                                <li class="cat-item cat-item-187"><a href="http://www.tigraine.at/category/programmierung/git/"
                                    title="View all posts filed under Git">Git</a> </li>
                                <li class="cat-item cat-item-19"><a href="http://www.tigraine.at/category/programmierung/java/"
                                    title="View all posts filed under Java">Java</a> </li>
                                <li class="cat-item cat-item-144"><a href="http://www.tigraine.at/category/programmierung/jquery/"
                                    title="View all posts filed under jQuery">jQuery</a> </li>
                                <li class="cat-item cat-item-142"><a href="http://www.tigraine.at/category/programmierung/patterns/"
                                    title="View all posts filed under Patterns">Patterns</a> </li>
                                <li class="cat-item cat-item-179"><a href="http://www.tigraine.at/category/programmierung/projects/"
                                    title="A category for all posts about my projects">Projects</a>
                                    <ul class='children'>
                                        <li class="cat-item cat-item-186"><a href="http://www.tigraine.at/category/programmierung/projects/dotless/"
                                            title="View all posts filed under dotless">dotless</a> </li>
                                        <li class="cat-item cat-item-185"><a href="http://www.tigraine.at/category/programmierung/projects/elmsconnector/"
                                            title="View all posts filed under elmsConnector">elmsConnector</a> </li>
                                        <li class="cat-item cat-item-184"><a href="http://www.tigraine.at/category/programmierung/projects/imagineclub-website/"
                                            title="View all posts filed under imagineClub Website">imagineClub Website</a>
                                        </li>
                                        <li class="cat-item cat-item-180"><a href="http://www.tigraine.at/category/programmierung/projects/pandora/"
                                            title="Posts about the Pandora Project (http://bitbucket.org/Tigraine/pandora-container/)">Pandora</a> </li>
                                    </ul>
                                </li>
                                <li class="cat-item cat-item-135"><a href="http://www.tigraine.at/category/programmierung/subversion/"
                                    title="View all posts filed under Subversion">Subversion</a> </li>
                                <li class="cat-item cat-item-145"><a href="http://www.tigraine.at/category/programmierung/testing/"
                                    title="View all posts filed under Testing">Testing</a> </li>
                            </ul>
                        </li>
                        <li class="cat-item cat-item-181"><a href="http://www.tigraine.at/category/imagineclub/"
                            title="View all posts filed under imagineClub">imagineClub</a> </li>
                        <li class="cat-item cat-item-35"><a href="http://www.tigraine.at/category/internet/"
                            title="View all posts filed under Internet">Internet</a> </li>
                        <li class="cat-item cat-item-131"><a href="http://www.tigraine.at/category/job/"
                            title="View all posts filed under Job">Job</a> </li>
                        <li class="cat-item cat-item-28"><a href="http://www.tigraine.at/category/personal/"
                            title="View all posts filed under Personal">Personal</a>
                            <ul class='children'>
                                <li class="cat-item cat-item-130"><a href="http://www.tigraine.at/category/personal/barcamp/"
                                    title="View all posts filed under Barcamp">Barcamp</a> </li>
                            </ul>
                        </li>
                        <li class="cat-item cat-item-10"><a href="http://www.tigraine.at/category/site-news/"
                            title="View all posts filed under Site-News">Site-News</a> </li>
                        <li class="cat-item cat-item-141"><a href="http://www.tigraine.at/category/tools/"
                            title="View all posts filed under Tools">Tools</a> </li>
                        <li class="cat-item cat-item-1"><a href="http://www.tigraine.at/category/uncategorized/"
                            title="View all posts filed under Uncategorized">Uncategorized</a> </li>
                        <li class="cat-item cat-item-140"><a href="http://www.tigraine.at/category/windows-vista/"
                            title="View all posts filed under Windows Vista">Windows Vista</a> </li>
                    </ul>
                </li>
                <li id="text-444566711" class="widget widget_text">
                    <h2 class="widgettitle">
                        Because I Care</h2>
                    <div class="textwidget">
                        <img src="http://www.tigraine.at/altdotnet.png" alt="ALT.NET" />
                        <br />
                        <a href="http://testdriven.com/">
                            <img src="http://testdriven.com/programs/logotdsoft.png" border="0" alt="I'm test-driven!" /></a></div>
                </li>
                <li id="text-444566712" class="widget widget_text">
                    <h2 class="widgettitle">
                        Projects</h2>
                    <div class="textwidget">
                        <a href="http://www.dotlesscss.com">
                            <img src="http://tigraine.at/dotless-logo.jpg" alt="dynamic css for .NET" /></a></div>
                </li>
                <li id="linkcat-134" class="widget widget_links">
                    <h2 class="widgettitle">
                        Daniel</h2>
                    <ul class='xoxo blogroll'>
                        <li><a href="http://www.facebook.com/profile.php?id=1111490504&amp;ref=name" rel="me"
                            title="My Facebook page" target="_blank">@Facebook</a></li>
                        <li><a href="http://www.flickr.com/photos/15594453@N02/" title="Daniel Hoelbling">@Flickr</a></li>
                        <li><a href="http://www.linkedin.com/in/danielhoelbling" rel="me" title="My LinkedIn profile"
                            target="_blank">@LinkedIn</a></li>
                        <li><a href="http://twitter.com/tigraine" rel="me">@Twitter</a></li>
                    </ul>
                </li>
                <li id="linkcat-133" class="widget widget_links">
                    <h2 class="widgettitle">
                        Friends</h2>
                    <ul class='xoxo blogroll'>
                        <li><a href="http://nephilistic.com/" rel="friend met co-worker">Kristof</a></li>
                        <li><a href="http://www.semanticmetadata.net/" rel="friend met colleague">Semanticmetadata</a></li>
                        <li><a href="http://www.seo-rookies.at/" rel="friend met co-worker">SEO-Rookies</a></li>
                        <li><a href="http://zerokspot.com/weblog/" rel="contact met">Zerok</a></li>
                    </ul>
                </li>
                <li id="text-213266941" class="widget widget_text">
                    <h2 class="widgettitle">
                        Search</h2>
                    <div class="textwidget">
                        <script type="text/javascript" src="http://www.lijit.com/informers/wijits?username=Tigraine&js=1"></script>
                        <a style='color: #999' href='http://www.lijit.com' id='lijit_wijit_pvs_link'>Lijit Search</a></div>
                </li>
                <li id="archives-2" class="widget widget_archive">
                    <h2 class="widgettitle">
                        Archives</h2>
                    <ul>
                        <li><a href='http://www.tigraine.at/2010/09/' title='September 2010'>September 2010</a></li>
                        <li><a href='http://www.tigraine.at/2010/08/' title='August 2010'>August 2010</a></li>
                        <li><a href='http://www.tigraine.at/2010/06/' title='June 2010'>June 2010</a></li>
                        <li><a href='http://www.tigraine.at/2010/05/' title='May 2010'>May 2010</a></li>
                        <li><a href='http://www.tigraine.at/2010/04/' title='April 2010'>April 2010</a></li>
                        <li><a href='http://www.tigraine.at/2010/03/' title='March 2010'>March 2010</a></li>
                        <li><a href='http://www.tigraine.at/2010/02/' title='February 2010'>February 2010</a></li>
                        <li><a href='http://www.tigraine.at/2010/01/' title='January 2010'>January 2010</a></li>
                        <li><a href='http://www.tigraine.at/2009/12/' title='December 2009'>December 2009</a></li>
                        <li><a href='http://www.tigraine.at/2009/11/' title='November 2009'>November 2009</a></li>
                        <li><a href='http://www.tigraine.at/2009/10/' title='October 2009'>October 2009</a></li>
                        <li><a href='http://www.tigraine.at/2009/09/' title='September 2009'>September 2009</a></li>
                        <li><a href='http://www.tigraine.at/2009/08/' title='August 2009'>August 2009</a></li>
                        <li><a href='http://www.tigraine.at/2009/07/' title='July 2009'>July 2009</a></li>
                        <li><a href='http://www.tigraine.at/2009/06/' title='June 2009'>June 2009</a></li>
                        <li><a href='http://www.tigraine.at/2009/05/' title='May 2009'>May 2009</a></li>
                        <li><a href='http://www.tigraine.at/2009/04/' title='April 2009'>April 2009</a></li>
                        <li><a href='http://www.tigraine.at/2009/03/' title='March 2009'>March 2009</a></li>
                        <li><a href='http://www.tigraine.at/2009/02/' title='February 2009'>February 2009</a></li>
                        <li><a href='http://www.tigraine.at/2009/01/' title='January 2009'>January 2009</a></li>
                        <li><a href='http://www.tigraine.at/2008/12/' title='December 2008'>December 2008</a></li>
                        <li><a href='http://www.tigraine.at/2008/11/' title='November 2008'>November 2008</a></li>
                        <li><a href='http://www.tigraine.at/2008/10/' title='October 2008'>October 2008</a></li>
                        <li><a href='http://www.tigraine.at/2008/09/' title='September 2008'>September 2008</a></li>
                        <li><a href='http://www.tigraine.at/2008/08/' title='August 2008'>August 2008</a></li>
                        <li><a href='http://www.tigraine.at/2008/07/' title='July 2008'>July 2008</a></li>
                        <li><a href='http://www.tigraine.at/2008/06/' title='June 2008'>June 2008</a></li>
                        <li><a href='http://www.tigraine.at/2008/05/' title='May 2008'>May 2008</a></li>
                        <li><a href='http://www.tigraine.at/2008/04/' title='April 2008'>April 2008</a></li>
                        <li><a href='http://www.tigraine.at/2008/03/' title='March 2008'>March 2008</a></li>
                        <li><a href='http://www.tigraine.at/2008/02/' title='February 2008'>February 2008</a></li>
                        <li><a href='http://www.tigraine.at/2008/01/' title='January 2008'>January 2008</a></li>
                        <li><a href='http://www.tigraine.at/2007/12/' title='December 2007'>December 2007</a></li>
                        <li><a href='http://www.tigraine.at/2007/11/' title='November 2007'>November 2007</a></li>
                        <li><a href='http://www.tigraine.at/2007/10/' title='October 2007'>October 2007</a></li>
                        <li><a href='http://www.tigraine.at/2007/09/' title='September 2007'>September 2007</a></li>
                    </ul>
                </li>
                <li id="text-241688251" class="widget widget_text">
                    <div class="textwidget">
                        <br />
                        <br />
                        <a href="http://www.jetbrains.com/resharper/features/index.html?linklogos" style="position: relative;
                            display: block; width: 120px; height: 30px; border: 0; margin: 0; padding: 0;
                            text-decoration: none; text-indent: 0;"><span style="margin: 0; padding: 0; position: absolute;
                                top: -1px; left: 35px; font-size: 9px; cursor: pointer; background-image: none;
                                border: 0; color: #e9d5e1; font-family: trebuchet ms,arial,sans-serif; font-weight: normal;">
                                Can't live without</span>
                            <img src="http://www.jetbrains.com/resharper/features/rs/rs1/rs120x30_violet.gif"
                                alt="The Most Intelligent Add-In To Visual Studio" border="0" /></a></div>
                </li>
                <li id="text-315869281" class="widget widget_text">
                    <div class="textwidget">
                        <script type="text/javascript">
                            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
                        </script>
                        <script type="text/javascript">
                            try {
                                var pageTracker = _gat._getTracker("UA-3272216-1");
                                pageTracker._trackPageview();
                            } catch (err) { }</script>
                    </div>
                </li>
            </ul>
        </div>
        <hr id="clear" />
    </div>
    <div id="footer">
        <div id="footer_text">
            <br />
            &copy; Copyright 2010 Daniel H&ouml;lbling<br />
            This blog is powered by <a href="http://github.com/mojombo/jekyll/wiki">Jekyll</a>
        </div>
        <br />
    </div>
    <script language="javascript" src="http://www.tigraine.at/js/shCore.js"></script>
    <script language="javascript" src="http://www.tigraine.at/js/shBrushCSharp.js"></script>
    <script language="javascript" src="http://www.tigraine.at/js/shBrushXml.js"></script>
    <script language="javascript" src="http://www.tigraine.at/js/shBrushJScript.js"></script>
    <script language="javascript" src="http://www.tigraine.at/js/shBrushCss.js"></script>
    <script language="javascript" src="http://www.tigraine.at/js/shBrushVb.js"></script>
    <script language="javascript" src="http://www.tigraine.at/js/shBrushRuby.js"></script>
    <script language="javascript">        dp.SyntaxHighlighter.HighlightAll('code', true, false, false, 1, false);</script>
    <script type="text/javascript">
        var disqus_shortname = 'tigraine';
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.src = 'http://disqus.com/forums/tigraine/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        } ());
    </script>
</body>
</html>
